:root{
    --blue: rgb(18,177,227);
    --dark: rgb(32,33,36);
    --light: rgb(243,243,238);
    --blue-transparent: rgba(18,177,227,0.7);
    --red: rgb(199,65,72);
}

*{
    margin: 0;
    font-family: 'Poppins';
}

.homepage-container{
    height: 100vh;
    background-color: var(--light);
    background-repeat: no-repeat;
    background-size: 100vw auto;
}

.homepage-slider {
    background-color: var(--dark);
}

.hr{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 0.13rem;
    width: 30%;
    background-color: red;
}

.home-info {
    background-color: var(--dark);
    color: var(--light);
    padding: 2rem 1rem;
}

.home-info > h2 {
    font-size: x-large;
    background-color: var(--dark);
}


.home-info > p {
    font-size: large;
    background-color: var(--dark);
}

.homepage-image{
    display: block;
    width: 100%;
}   

.header-container{
    display: fixed;
}

.homepage-header{
    height: 20vh;
    background-color: var(--dark);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.tile-wrapper{
    display: grid;
    grid-template-rows: 6fr 6fr 6fr 6fr 6fr 6fr;
    padding: 0 0 2rem 0;
    background-color: var(--dark);
}

.section-tiles{
    height: 23rem;
    width: 92vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
    font-size: 200%;
    text-align: center;
    transition-duration: 0.3s;
    overflow: hidden;
    margin: 1rem;
}

.section-tiles:hover{
    background-size: 135%;
    transition-duration: 2s;
    cursor: pointer;
}

.image-tile{
    height: 100%;
    width: auto;
    transition-duration: 0.5s;
    z-index: 1112!important;
}

.image-tile:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.tile-header{
    background-color: var(--blue-transparent);
    border-bottom: 2px solid red;
}

/* .tile-services{
    background-image: url('../images/tile-images/Gerrytrusssite.jpg');
}

.tile-about{
    background-image: url('../images/tile-images/RSTOldTruck.jpg');
}

.tile-fleet{
    background-image: url('../images/tile-images/Lineoftrucks.jpg');
} */

.review-wrapper{
    height: 60vh;
    align-items: center;
    width: 80vw;
    margin-top: 5rem;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 220px;
    text-align: center;
}

.review-header{
    font-family: 'Patua One', 'Poppins', sans-serif;
    font-size: 200%;
}

.review-main{
    font-family: 'Calligraffitti', 'Poppins', sans-serif;
    margin-top: 2rem;
    font-size: 225%;
}

