:root{
    --blue: rgb(18,177,227);
    --dark: rgb(32,33,36);
    --light: rgb(243,243,238);
    --blue-transparent: rgba(18,177,227,0.7);
    --red: rgb(199,65,72);
}

.contact-cont {
    background-color: var(--dark);
}

.contact-header{
    color: var(--blue);
    text-align: center;
    border-bottom: 2px solid var(--red);
    margin: 0px 10px 0px 10px;
    height: 10vh;
    background-color: var(--dark);
}

.contact-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    background-color: var(--dark);
    color: var(--light);
}

.contact-item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    gap: 0;
    text-align: center;
}

.e-mail-address {
    color: var(--blue);
    text-decoration: none;
}

.list {
    list-style: none;
}

.phone {
    margin-top: 10%;
}

.list > * {
    padding-top: 1rem;
}

.google-map {
    margin: 0 10px 0 10px;
}

@media (min-width: 768px) {
    .contact-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {	

}

@media (min-width: 1200px) {
    
}