:root{
    --blue: rgb(18,177,227);
    --dark: rgb(32,33,36);
    --light: rgb(243,243,238);
    --blue-transparent: rgba(18,177,227,0.7);
    --red: rgb(199,65,72);
}

.footer{
    display: grid;
    background-color: var(--dark);
    color: var(--light);
    padding-top: 1rem;
}

.hr {
    background-color: red
}

.footer-main-sect {
    padding-top: 1rem;
}

.footer-list{
    list-style: none;
}

.footer-list > li {
    padding: 0.5rem;
}

.mail-to {
    text-decoration: none;
    color: var(--light)
}

.mail-to:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .footer-heading {
        margin-left: 6rem;
    }

    .footer-list {
        margin-left: 8rem;
    }
}

@media (min-width: 992px) {	
	
}
@media (min-width: 1200px) {
	
}