:root{
    --blue: rgb(18,177,227);
    --dark: rgb(32,33,36);
    --light: rgb(243,243,238);
    --blue-transparent: rgba(18,177,227,0.7);
    --red: rgb(199,65,72);
}

.mobile-nav-cont {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
    height: 160px;
    max-width: 100%;
    background-color: var(--blue-transparent);
}

.hamburger-icon {
    transition-duration: 700ms;
}

.logo {
    position: relative;
    max-width: 100%;
    margin-left: 15%;
    margin-top: 10%;
}

/* Removed to come back to later */
/* .hamburger-icon:hover {
    transform: rotate(90deg);
    transition-duration: 700ms;
} */






