:root{
    --blue: rgb(18,177,227);
    --dark: rgb(32,33,36);
    --light: rgb(243,243,238);
    --blue-transparent: rgba(18,177,227,0.7);
    --red: rgba(255,23,23, 1);
}

.tb-container {
    height: 12rem;
    background-color: var(--dark);
}


/* Top Section */
.top-section {
    height: 2rem;
    background-color: var(--blue);
    padding-right: 10rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-size: 90%;
}

.tb-contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: end;
    gap: 5rem;
    margin-left: 3rem;
    color: var(--dark);
}

.tb-contact-icon {
    margin-right: 0.4rem;
}

.tb-socials {
    float: right;
    justify-self: end;
}

.tb-social-item {
    margin: 0.4rem;
}

/* Main Section */

.main-section {
    display: flex;
}

.tb-logo-cont {
    justify-self: start;
    margin-left: 10rem;
}

.tb-logo {
    max-height: 10rem;
}

.tb-details {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 3rem;
}

.tb-details-text {
    color: var(--light);
}

.line {
    width: 5%;
    height: 0.1rem;
    background-color: var(--red);
}
